body {
    text-align: center;
  }
  
  h1 {
    color: rgb(0, 135, 77);
    font-family: Arial, sans-serif;
    
  }

  p{
    font-size: 40px;
    color: greenyellow;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 12px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  body {
    background-image: linear-gradient(90deg, rgba(122, 119, 253, 1) 0%, rgba(204, 204, 204, 1) 100%);   }

  
  

  #mensaje {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
  }
  